div1  {
    color: rgb(140, 0, 196);
}

div2  {
    color: rgb(0, 0, 255);
}

div3  {
    color: rgb(0, 206, 0);
}

div4  {
    color: rgb(255, 255, 0);
}

div5  {
    color: rgb(255, 136, 0);
}

div6  {
    color: rgb(255, 0, 0);
}

div7  {
    color: rgb(255, 6, 143);
}

.head_top   {
    background-color: #222;
    height: 250px;
    padding: 20px;
    color: black;
}